{% extends 'base.html'%}

{% block header %} Dashboard {% endblock %}

{% block content %}
    <div class="dashboard-container-button">
        <!-- Botón para abrir el modal -->
        <button id="openModalBtn" class="purplebutton">+ Add New</button>
    </div>

    <!-- Modal para agregar una nueva cuenta -->
    <div id="addAccountModal" class="modal">
        <div class="modal-content">
            <h3>ADD A NEW ACCOUNT</h3>
            <span class="closeaddaccount"></span>
            <form method="post" action="{% url 'dashboard' %}" class="modal-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="add_account">Add New</button>
                <button type="button" id="cancelbutton">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Modal de Edición -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h3>EDIT ACCOUNT</h3>
            <span class="close" id="closeModal"></span>
            <form method="post" action="{% url 'dashboard' %}" class="modal-form">
                {% csrf_token %}
                <input type="hidden" name="account_id" id="editAccountId">
                <div>
                    <label for="editSite">Site:</label>
                    <input type="text" id="editSite" name="site">
                </div>
                <div>
                    <label for="editUsername">Username:</label>
                    <input type="text" id="editUsername" name="username">
                </div>
                <div>
                    <label for="editEmail">Email:</label>
                    <input type="email" id="editEmail" name="email">
                </div>
                <div>
                    <label for="editPassword">Password:</label>
                    <div class="password-container">
                        <input type="password" id="editPassword" name="password">
                        <button type="button" id="togglePassword" class="toggle-password">Show</button>
                    </div>
                </div>
                <button type="submit" name="edit_account">Save</button>
            </form>
        </div>
    </div>

    <div class="dashboard-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.site }}</td>
                    <td><span id="username-{{ forloop.counter }}">***********</span></td>
                    <td><span id="email-{{ forloop.counter }}">***********</span></td>
                    <td><span id="password-{{ forloop.counter }}">***********</span>
                        <button class="table-button-copypass" data-id="{{ forloop.counter }}" data-password="{{ account.password }}"><i class="fa-regular fa-copy"></i></button>
                    </td>
                    <td class="table-buttons">
                        <button class="table-button" onclick="toggleInfo({{ forloop.counter }}, '{{ account.username }}', '{{ account.email }}', '{{ account.password }}')" data-shown="false" id="toggle-btn-{{ forloop.counter }}">Show</button>                        
                        <button class="edit-button table-button" data-id="{{ account.id }}" data-site="{{ account.site }}" data-username="{{ account.username }}" data-email="{{ account.email }}" data-password="{{ account.password }}">Edit</button>
                        <button class="delete-button table-button" data-id="{{ account.id }}">Delete</button>
                    </td>              
                </tr>
                    <tr id="edit-form-{{ forloop.counter }}" style="display: none;">
                        <td colspan="5">
                            <form method="post" action="{% url 'dashboard' %}">
                                {% csrf_token %}
                                <input type="hidden" name="account_id" value="{{ account.id }}">
                                <div>
                                    <label for="site-{{ forloop.counter }}">Site:</label>
                                    <input type="text" id="site-{{ forloop.counter }}" name="site" value="{{ account.site }}">
                                </div>
                                <div>
                                    <label for="username-{{ forloop.counter }}">Username:</label>
                                    <input type="text" id="username-{{ forloop.counter }}" name="username" value="{{ account.username }}">
                                </div>
                                <div>
                                    <label for="email-{{ forloop.counter }}">Email:</label>
                                    <input type="email" id="email-{{ forloop.counter }}" name="email" value="{{ account.email }}">
                                </div>
                                <div>
                                    <label for="password-{{ forloop.counter }}">Password:</label>
                                    <input type="password" id="password-{{ forloop.counter }}" name="password" value="{{ account.password }}">
                                </div>
                                <button type="submit" name="edit_account">Save</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}