{% extends 'base.html'%}

{% block header %} Dashboard {% endblock %}

{% block content %}
    <div class="dashboard-container-button">
        <!-- Botón para abrir el modal -->
        <button id="openModalBtn" class="purplebutton">+ Add New</button>
    </div>

    <!-- Modal para agregar una nueva cuenta -->
    <div id="addAccountModal" class="modal">
        <div class="modal-content">
            <span class="closeaddaccount">&times;</span>
            <form method="post" action="{% url 'dashboard' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="add_account">Add New</button>
                <button type="button" id="cancelbutton">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Modal de Edición -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <form method="post" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <input type="hidden" name="account_id" id="editAccountId">
                <div>
                    <label for="editSite">Site:</label>
                    <input type="text" id="editSite" name="site">
                </div>
                <div>
                    <label for="editUsername">Username:</label>
                    <input type="text" id="editUsername" name="username">
                </div>
                <div>
                    <label for="editEmail">Email:</label>
                    <input type="email" id="editEmail" name="email">
                </div>
                <div>
                    <label for="editPassword">Password:</label>
                    <input type="password" id="editPassword" name="password">
                </div>
                <button type="submit" name="edit_account">Save</button>
            </form>
        </div>
    </div>

    <div class="dashboard-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.site }}</td>
                    <td><span id="username-{{ forloop.counter }}">***********</span></td>
                    <td><span id="email-{{ forloop.counter }}">***********</span></td>
                    <td><span id="password-{{ forloop.counter }}">***********</span>
                        <button class="table-button-copypass" data-id="{{ forloop.counter }}" data-password="{{ account.password }}"><i class="fa-regular fa-copy"></i></button>
                    </td>
                    <td>
                        <button class="table-button" onclick="toggleInfo({{ forloop.counter }}, '{{ account.username }}', '{{ account.email }}', '{{ account.password }}')" data-shown="false" id="toggle-btn-{{ forloop.counter }}">Show</button>                        
                        <button class="edit-button table-button" data-id="{{ account.id }}" data-site="{{ account.site }}" data-username="{{ account.username }}" data-email="{{ account.email }}" data-password="{{ account.password }}">Edit</button>
                        <a class="table-button" href="{% url 'delete_accountinfo' account.id %}">Delete</a>
                    </td>              
                </tr>
                    <tr id="edit-form-{{ forloop.counter }}" style="display: none;">
                        <td colspan="5">
                            <form method="post" action="{% url 'dashboard' %}">
                                {% csrf_token %}
                                <input type="hidden" name="account_id" value="{{ account.id }}">
                                <div>
                                    <label for="site-{{ forloop.counter }}">Site:</label>
                                    <input type="text" id="site-{{ forloop.counter }}" name="site" value="{{ account.site }}">
                                </div>
                                <div>
                                    <label for="username-{{ forloop.counter }}">Username:</label>
                                    <input type="text" id="username-{{ forloop.counter }}" name="username" value="{{ account.username }}">
                                </div>
                                <div>
                                    <label for="email-{{ forloop.counter }}">Email:</label>
                                    <input type="email" id="email-{{ forloop.counter }}" name="email" value="{{ account.email }}">
                                </div>
                                <div>
                                    <label for="password-{{ forloop.counter }}">Password:</label>
                                    <input type="password" id="password-{{ forloop.counter }}" name="password" value="{{ account.password }}">
                                </div>
                                <button type="submit" name="edit_account">Save</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the modal
            var modal = document.getElementById("addAccountModal");
            
            // Get the button that opens the modal
            var btn = document.getElementById("openModalBtn");

            // Get the cancel button
            var cancelbtn = document.getElementById("cancelbutton");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("closeaddaccount")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks the cancel button, close the modal
            cancelbtn.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the modal
            var modal = document.getElementById("editModal");
            
            // Get the button that opens the modal
            var btn = document.getElementById("editbutton");
            var cancelbtn = document.getElementById("canceleditmodalbutton");
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("closeedit")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
                modal.style.display = "block";
            }
            cancelbtn.onclick = function() {
                modal.style.display = "none";
            }
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                }
            }
            
        });

        document.addEventListener('DOMContentLoaded', function() {
                const copyButtons = document.querySelectorAll('.table-button-copypass');
                copyButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        const id = this.getAttribute('data-id');
                        const password = this.getAttribute('data-password');
                        copytoclipboard(id, password);
                    });
                });
        });

        document.addEventListener('DOMContentLoaded', function() {
        // Manejar clic en botón Edit
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', function() {
                const accountId = this.getAttribute('data-id');
                const site = this.getAttribute('data-site');
                const username = this.getAttribute('data-username');
                const email = this.getAttribute('data-email');
                const password = this.getAttribute('data-password');

                openEditModal(accountId, site, username, email, password);
            });
        });
        });
        // Manejar clic en botón Borrar
        document.getElementById('deleteButton').addEventListener('click', function() {
            const id = document.getElementById('editId').value;
            // Aquí debes implementar la lógica para borrar el registro
            // Esto podría implicar enviar una solicitud a tu servidor para eliminar el registro
            console.log('Borrar registro con ID:', id);
            // Opcionalmente, cierra el modal después de borrar
            document.getElementById('editModal').style.display = 'none';
        });

        // Cerrar el modal cuando se hace clic en el botón de cerrar
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('editModal').style.display = 'none';
        });

        // Cerrar el modal cuando se hace clic fuera del contenido del modal
        window.addEventListener('click', function(event) {
            const modal = document.getElementById('editModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        function openEditModal(accountId, site, username, email, password) {
            document.getElementById('editAccountId').value = accountId;
            document.getElementById('editSite').value = site;
            document.getElementById('editUsername').value = username;
            document.getElementById('editEmail').value = email;
            document.getElementById('editPassword').value = password;

            document.getElementById('editModal').style.display = 'block';
        }

        function toggleInfo(counter, username, email, password) {
            const usernameSpan = document.getElementById(`username-${counter}`);
            const emailSpan = document.getElementById(`email-${counter}`);
            const passwordSpan = document.getElementById(`password-${counter}`);
            const toggleBtn = document.getElementById(`toggle-btn-${counter}`);

            if (toggleBtn.getAttribute('data-shown') === 'false') {
                usernameSpan.textContent = username;
                emailSpan.textContent = email;
                passwordSpan.textContent = password;
                toggleBtn.textContent = 'Hide';
                toggleBtn.setAttribute('data-shown', 'true');
            } else {
                usernameSpan.textContent = '***********';
                emailSpan.textContent = '***********';
                passwordSpan.textContent = '***********';
                toggleBtn.textContent = 'Show';
                toggleBtn.setAttribute('data-shown', 'false');
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            // Manejar clic en botón de copiar contraseña
            document.querySelectorAll('.table-button-copypass').forEach(button => {
                button.addEventListener('click', function() {
                    const password = this.getAttribute('data-password');
                    navigator.clipboard.writeText(password).then(function() {
                        alert("Password copied to clipboard!"); // Opcional: muestra un mensaje de confirmación
                    }, function(err) {
                        console.error('Could not copy text: ', err);
                    });
                });
        });
        });
    </script>
{% endblock %}