{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section id="intro">
            <h1 class="header">
                Passimple
            </h1>
    
            <h2 class="subtitle">
                All your password in one place, wherever you are.
            </h2>
            <div class="intro">
                <p>Passimple is your ultimate solution for password storage and generation.
                    With our application, you will never have to worry about forgetting a 
                    password or the security of your data.</p>
            </div>
        </section>
        <section id="features" class="features-section">
            <h2 class="subtitle">Features</h2>
            <div class="features">
                    <div class="feature">
                        <h3>Secure Password Storage</h3>
                        <p>Store all your passwords in one place, with the assurance that they are protected.</p>
                    </div>
                    <div class="feature">
                        <h3>Robust Password Generator</h3>
                        <p>Create strong and secure passwords with just one click.</p>
                    </div>
                    <div class="feature">
                        <h3>Security Analysis</h3>
                        <p>Evaluate the strength of your passwords to ensure your accounts are protected.</p>
                    </div>
            </div>
        </section>

        <div class="testimonials">
            <h2>Testimonial</h2>
            <div class="testimonial">
                <div class="testimonial"></div>
                    <p>"Passimple has changed my life. I no longer have to remember dozens of passwords and I feel more secure."</p>
                    <p>- Satisfied user</p>
                </div>
                <div class="testimonial">
                    <p>"Passimple is amazing! It has made managing my passwords so much easier and I love the password generator feature."</p>
                    <p>- Happy customer</p>
                </div>
            </div>

        </div>

        <div class="faq">
            <h2>FAQ</h2>
            <div class="question">
                <h3>How does Passimple work?</h3>
                <p>Passimple uses a combination of encryption techniques to ensure that your passwords are secure. Only you have access to your passwords.</p>
            </div>
            <div class="question">
                <h3>Is Passimple free to use?</h3>
                <p>Yes, Passimple is completely free to use. Enjoy all the features without any cost.</p>
            </div>
            <div class="question">
                <h3>Can I access my passwords from multiple devices?</h3>
                <p>Yes, you can access your passwords from any device with an internet connection. Passimple is designed to be accessible and convenient.</p>
            </div>
        </div>

        <div class="register">
            <h2>¿Listo para empezar?</h2>
            <p>Regístrate ahora y comienza a disfrutar de la tranquilidad que Passimple puede ofrecerte.</p>
            <a class="buttonregister" href="{% url 'sign_up' %}">Register</a>
        </div>
{% endblock %}

