{% extends 'base.html'%}

{% block header %} Security Check {% endblock %}


{% block content %}
    <div class="passgen-container">
        <h2>Analyse your password strength</h2>
        <form method="post">
            {% csrf_token %}
            <label for="password">Enter Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="purplebutton">Check Password</button>
        </form>
    
        {% if strength is not None %}
            <h3>Password Strength: {{ strength }}</h3>
            <h3>Estimated Crack Time: {{ crack_time }}</h3>
            <ul>
                {% for item in feedback %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock%}